h1 {
    float: left;
}

/* menu {
    float: right;
} */

menu {
    float: right;
}

h2 {
    clear: both;
}
#bruceWayne {
    float: left;
    width: 200px;
    height: auto;
}
body {
    clear: both;
    width: 960px;
    margin: auto;
}