/*White Bar at Top*/
header {
    background-color: white;
    height: 40px;
    border-bottom: solid gray 2px;
    margin-bottom: 30px;
}

/* Buttons in Header Area */
.headerMenu {
    width: 960px;
    margin: auto;
}

h1 {
    float: left;
    height: 20px;
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: turquoise;
    color: white;
    font-weight: bold;
}

menu {
    float: right;
    height: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#About, #Portfolio {
    border-right: solid 2px gray;
    padding-left: 10px;
    padding-right: 10px;
}

#Contact {
    padding-left: 10px;
    padding-right: 10px;
}

/* About Me Header */
h2 {
    clear: both;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: solid 2px gray;
    color: turquoise;
    font-size: 20px;
    font-weight: bold;
}

/* Awesome Picture */
#bruceWayne {
    float: left;
    width: 200px;
    height: auto;
    padding: 30px
}

/* Body Background and Clear Floats */
body {
    clear: both;
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Part of Page */
.container {
    width: 960px;
    margin: auto;
    padding: 5px 20px 20px 20px;
    min-height: 300px;
    background-color: white;
    border: solid gray 2px;
}

.body {
    margin: auto;
    padding: 30px;  
}


/* Footer with Copyright bottom center*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: gray;
    height: 40px;
    width: 100%;
    border-top: solid turquoise 5px;
}

#Copyright {
    position: absolute;
    left: 50%;
    bottom: 0;
}

/* Portfolio Grid */
.portfolioGrid {
    position: relative;
    left: 17%;
    margin-bottom: 100px;
}
td {
    padding: 10px;
    position: relative;
}

/* Titles for Images in Grid */
.picBanner {
    background-color: turquoise;
    color: white;
    position: absolute;
    bottom:20px;
    width: 180px;
    height: 15px;
    text-align: center;
    padding: 10px;
}

/* Contact Form */
.contactForm {
    padding: 20px;
}

.formTextInput {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.contactTitle{
    margin-left: 10px;
}
/* Contact Text Area */
#contactText {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
}

.formButtonInput {
    margin-left: 10px;
}